# Build results
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# VS Cache
*.db
*.db-shm
*.db-wal
*.v2
*.vsidx
DocumentLayout*.json

# Logs
*.log

# Others
*.swp
*.bak
*.tmp

# Secrets (optional)
appsettings.Development.json
